* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 48px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  color: white;
  background-color: black;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.projects-and-left-side {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.left-side {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects{
  align-items: center;
  background-color: #565656;
  border-radius: 24px;
}

.projects-list {
  gap: 10px;
  display: flex;
  padding: 10px;
}

.project-card {
  background: #2d2d2d;
  padding: 10px;
  border-radius: 24px;
  width: 180px;
  color: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);

}

.project-card img {
  width: 100%;
  border-radius: 24px;
  margin-bottom: 12px;
}


.techstack {
  align-items: stretch;
  background-color: #565656;
  border-radius: 24px;

}

.techstack-list {
  gap: 10px;
  display: flex;
  padding: 10px;
}

.techstack-item {
  background: #2d2d2d;
  padding: 10px;
  border-radius: 24px;
  color: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #565656;
  border-radius: 24px;
  max-width: 540px;
  height: 240px; 
  padding: 10px 0;
  position: relative; 
}


.experience-card {
  background-color: #2d2d2d;
  margin: 10px;
  border-radius: 24px;
  padding: 15px;
}

.experience-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 5px; 
}

.experience-header h3 {
  margin: 0; 
  font-size: 1.1em; 
}

.experience-header i {
    color: #b0b0b0;
    font-size: 0.9em;
}

.job-title {
  margin-top: 0;
  margin-bottom: 8px; 
  font-weight: bold; 
  color: #c9c9c9;
  font-size: 1em;
}

.job-description {
  margin: 0; 
  font-size: 0.9em;
  line-height: 1.4;
  color: #e0e0e0;
}


.switcher {
  display: flex;
  gap: 14px;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%; 
  transform: translateX(-50%); 
}

.nav-btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  background: none;   
  border: none; 
}

.dots {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  transition: 0.2s ease;
}

.dot.active {
  background: white;
  transform: scale(1.2);
}

footer {
  position: fixed; 
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100; 
}

.footer-links {
  color: white;
  display: flex; /* 1. Turn it into a flex container */
  justify-content: center; /* 2. Center the icons horizontally */
  gap: 20px; /* 3. Set the spacing between the flex items (the <a> tags) */
}